@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: charter;
  src: url("/public/fonts/Charter_Regular.ttf") format("truetype");
}

@font-face {
  font-family: charter-bold;
  src: url("/public/fonts/Charter_Bold.ttf") format("truetype");
}

@font-face {
  font-family: geist-regular;
  src: url("/public/fonts/Geist-Regular.otf") format("opentype");
}

@font-face {
  font-family: geist-bold;
  src: url("/public/fonts/Geist-Bold.otf") format("opentype");
}

@font-face {
  font-family: geist-black;
  src: url("/public/fonts/Geist-Black.otf") format("opentype");
}

body {
  /* Use a radial gradient for this example, but you could also use a linear gradient */
  background-image: radial-gradient(
    circle at 10% 50%,
    #333,
    #000000 50%,
    #333 100%
  );
  background-size: 200% 200%; /* Ensures that the gradient is larger than the container for a smooth loop */
  height: 100vh; /* Make sure it covers the whole viewport vertically */
  width: 100vw; /* Make sure it covers the whole viewport horizontally */
}
@keyframes bounce {
  0%,
  100% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce-right {
  animation: bounce 1s infinite;
}
